<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>{{{inlineCss}}}</style>
  </head>
  <body>
    <div class="container">
      <a href="{{clientUrl}}">
        <img class="logo" src="cid:icon" />
      </a>
      <div class="title">{{title}}</div>
      <div class="divider" />
      <div class="content">
        <p>Hello <b class="name">{{name}}</b>,</p>
        <p>To ensure that this function is not misused by unauthorized third
          parties, we will replace your password only after you have called the
          following link by clicking on the button:
        </p>
        <a href={{url}} class="link">
          <span class="link-title">Reset Password</span>
        </a>
        <p>This link is valid for 3 minutes. After you have clicked on the above
          link, you will be able to set a new password. Make sure you do not
          share your personal login information with others.</p>
      </div>
      <div class="support">
        If you have any questions or need assistance, please feel free to reach
        out to us at
        <a href="mailto:{{supportEmail}}">{{supportEmail}}</a>. We are here to
        help!
      </div>
    </div>
  </body>
</html>