<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>{{{inlineCss}}}</style>
  </head>
  <body>
    <div class="container">
      <a href="{{clientUrl}}">
        <img class="logo" src="cid:icon" />
      </a>
      <div class="title">{{title}}</div>
      <div class="divider" />
      <div class="content">
        <p>Hello {{name}},</p>
        <p>Your password has been successfully updated for the
          <span class="em">{{identifier}}</span>, please login with your new
          credentials</p>.
        <p>If you did not request this password change, please contact us
          immediately to secure your account.</p>
      </div>
      <div class="support">
        If you have any questions or need assistance, please feel free to reach
        out to us at
        <a href="mailto:{{supportEmail}}">{{supportEmail}}</a>. We are here to
        help!
      </div>
    </div>
  </body>
</html>